RewriteEngine on

RewriteRule ^index$ index.php [L]
RewriteRule ^cpanel$ admin/views/principal.php [L]
RewriteRule ^cpanel/eventos$ admin/views/eventos.php [L]
RewriteRule ^cpanel/album$ admin/views/album.php [L]

RewriteRule ^fotos/serJovemVIII$ utilitarios/proprios/fotos/serJovem.php [L]

SetOutputFilter DEFLATE

SetEnvIfNoCase Request_URI "\.(?:gif|jpe?g|png)$" no-gzip