RewriteEngine on

RewriteRule ^index$ index.php [L]

RewriteRule ^cpanel$ utilitarios/proprios/admin/loginAdmin.php [L]
RewriteRule ^cpanel/principal$ utilitarios/proprios/admin/principal.php [L]
RewriteRule ^cpanel/eventos$ utilitarios/proprios/admin/eventos.php [L]
RewriteRule ^cpanel/album$ utilitarios/proprios/admin/album.php [L]

RewriteRule ^fotos/serJovemVIII$ utilitarios/proprios/fotos/serJovem.php [L]

SetOutputFilter DEFLATE

SetEnvIfNoCase Request_URI "\.(?:gif|jpe?g|png)$" no-gzip