.alert-msg-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    width: 350px;
    z-index: 99999;
    position: absolute;
    top: 55px;
    text-align: left;
    right: 0px;

}

.alert-msg-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    width: 320px;
    margin-right: 20px;
    z-index: 99999;
    position: absolute;
    top: 55px;
    text-align: left;
    right: 0px;
}

.alert-msg-info {

    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    width: 320px;
    margin-right: 20px;
    z-index: 99999;
    position: absolute;
    top: 55px;
    text-align: left;
    right: 0px;
}
